.ListBox-root {
  color: darkgreen;
  cursor: pointer;
  line-height: 14px;
}

.ListBox-list {
  width: 50%;
}

.ListBox-listItem {
  display: flex;
  justify-content: space-between;
  color: #013220;
  cursor: pointer;
  line-height: 14px;
  list-style: none;
  margin-top: 10px;
}

.ListBox-checker {
  margin-left: 16px;
}

.ListBox-title {
  margin: 
}